<div class="page">
  <div class="page__header">
    <button mat-raised-button color="primary" class="btn-user">User</button>
    <button mat-raised-button color="accent" class="btn-service">Service</button>
  </div>
  <div class="page__holder">
    <div class="logo">
      <strong class="logo__holder">
        <img class="logo__img" src="../../../../assets/images/logo.svg" alt="Beauty">
      </strong>
      <h1 class="logo__title">BEAUTY APP</h1>
      <p class="logo__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab dolore error et ex id incidunt
        laudantium, minus quod similique soluta totam velit.
        Laboriosam nihil, rem. Aliquid earum nulla odit voluptatum.
        <strong routerLink="/about">ABOUT</strong>
      </p>
    </div>
    <div class="form">
      <div class="form__holder">
        <form class="form__block" (submit)="sendForm($event)" [formGroup]="signUpForm" >
          <mat-form-field class="form__field field">
            <input matInput placeholder="Name" name="name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="form__field field">
            <input matInput placeholder="Enter your email" formControlName="email" required name="Email" autocomplete="false">
          </mat-form-field>
          <mat-form-field class="form__field field">
            <input matInput type="password" placeholder="Password" name="password" formControlName="Password" autocomplete="false">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" (click)="sendForm($event)">Register</button>
        </form>
        <div class="form__footer">
          <button mat-raised-button class="btn-registration" color="accent" routerLink="/sign-in"> Sign in page</button>
        </div>
      </div>
    </div>
  </div>
</div>
