.service{
  border-bottom: 1px solid #ccc;
  &__footer{
    padding: 10px;
  }

}
.menu{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description{
  display: flex;
  align-items: center;
  justify-content: center;
  &__author{
    margin: 0;
  }
  &__logo{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    font-size: 12px;
  }
}
.image{
  position: relative;
  &__above{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
  }
  &__holder{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
  }
  &__img{
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
}
.favorite__above {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #ffffff;
  z-index: 1;
}

