<div class="service" routerLink="/product">
  <div class="menu">
    <div class="description">
      <div class="description__logo">
        <i class="fa fa-user"></i>
      </div>
      <div class="description__text">
        <h3 class="description__author"> author</h3>
        <div class="description__location">location</div>
      </div>
    </div>
    <div class="settings">
      <i class="fa fa-ellipsis-v"></i>
    </div>
  </div>
  <div class="image">
    <div class="image__above">
      <div class="proposition">
        Proposition
      </div>
      <div class="rating">
        <i class="fa fa-paint-brush"></i>
        <i class="fa fa-paint-brush"></i>
        <i class="fa fa-paint-brush"></i>
        <i class="fa fa-paint-brush"></i>
        <i class="fa fa-paint-brush"></i>
      </div>
    </div>
    <div class="favorite__above">
      <i class="fa fa-star"></i>
    </div>
    <div class="image__holder">
      <img class="image__img" src="../../../../assets/images/example.png" alt="">
    </div>
  </div>
<div class="service__footer">
  <div class="prise">
    <i class="fa fa-dollar"></i>
    <span> 250</span>
  </div>
  <div class="phone-number">
    <i class="fa fa-phone"></i>
    <span>+380685858585</span>
  </div>
</div>
</div>
