<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Illum ipsam maiores numquam placeat!
  Distinctio dolore doloribus error excepturi, expedita explicabo fugiat hic,
  ipsum iure, magnam neque provident quia quidem voluptas.
</p>
<div>
  <button mat-raised-button color="primary" class="btn-user">User</button>
  <button mat-raised-button color="accent" class="btn-service">Service</button>
</div>
<div class="div">
  <button routerLink="/sign-in" mat-raised-button color="primary" class="btn-user">Sign in</button>
  <button routerLink="/sign-up" mat-raised-button color="accent" class="btn-service">Registration</button>
</div>
