
.page{
  &__header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  &__holder{

  }
  &__body{
    padding-top:100px;
  }
}
.header{
  &__holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }
  &__user{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search{
    border-radius: 15px;
    width: 200px;
    height: 30px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
