<div class="page">
  <div class="page__holder">
    <div class="page__header header">
      <div class="header__holder">
        <div class="header__user" routerLink="/user">
          <i class="fa fa-user"></i>
        </div>
        <div class="header__search">
          search
        </div>
        <div class="menu">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <div class="header__holder">
        <div class="header__filter">
          <i class="fa fa-users"></i>
        </div>
        <div class="header__filter">
          <i class="fa fa-paint-brush"></i>
        </div>
        <div class="header__filter">
          <i class="fa fa-filter"></i>
        </div>
        <div class="header__filter">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="header__filter">
          <i class="fa fa-money"></i>
        </div>
      </div>
    </div>
    <div class="page__body">
      <div class="services">
        <ng-container *ngFor="let service of [1,2,3,4,5,6]">
        <app-service></app-service>
        </ng-container>
      </div>
      <h1>EMAIL {{email}}</h1>
      <a mat-raised-button color="primary" routerLink="/sign-in">sign-in</a>
      <a mat-raised-button color="accent" routerLink="/sign-up">sign-up</a>
    </div>
  </div>
</div>
