.page {
  height: 100%;
  padding: 15px;
  &__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-direction: column;
  }
  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.logo {
  &__holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 200px;
    height: auto;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
}

.form {
  width: 100%;
  &__holder {
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    padding: 15px 0;
  }
}

.btn-registration {
  width: 100%;
}
