
.header{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
.product__top{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__block {
  display: flex;
  align-items: center;

}

.logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
  min-width: 52px;

  &__img {
    width: 100%;
    height: auto;
  }
}

.description {
  &__title {
    margin: 0;
    font-size: 16px;

  }

  &__text {
    font-size: 12px;
  }
}

.rating__block {
  border: 1px solid #ccc;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  &__title{
    margin: 0;
    font-size: 20px;
  }
  &__subtitle{
    font-size: 10px;
  }
}
.page__description{
  padding: 15px;
}
.gallery{
  padding: 5px;
}
.gallery__holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 200px;
  overflow: auto;
  width: 100%;
}
.slide{
  padding: 0 5px;
}
