<div class="page">
  <div class="header">
    <div class="header__back" routerLink="/">
      <i class="fa fa-arrow-left"></i>
    </div>
    <div class="header__title">
      Name of Product
    </div>
    <div class="header__settings">
      <i class="fa fa-ellipsis-v"></i>
    </div>
  </div>
  <div class="product__header">
    <div class="product__top">
      <div class="logo__block">
        <div class="logo">
          <img class="logo__img" src="../../../../assets/images/example.png" alt="product">
        </div>
        <div class="description">
          <h1 class="description__title">
            Name of Product
          </h1>
          <div class="description__info">
            <i class="fa fa-map-marker"></i>
            <span> address</span>
          </div>
          <div class="description__info">
            <i class="fa fa-mobile-phone"></i>
            <span> +38068686868</span>
          </div>
        </div>
      </div>
      <div class="rating__block">
        <div class="rating">
          <h4 class="rating__title">95%</h4>
          <span class="rating__subtitle"><i class="fa fa-paint-brush"></i> Rating</span>
        </div>
      </div>
      <div class="rating__block">
        <div class="rating">
          <h4 class="rating__title">2500</h4>
          <span class="rating__subtitle"><i class="fa fa-users"></i> Used</span>
        </div>
      </div>
    </div>
    <div class="product__top">
      <a mat-raised-button color="accent"> <i class="fa fa-phone"></i> Call</a>
      <a mat-raised-button color="primary"><i class="fa fa-pencil"></i> Write</a>
      <a mat-raised-button color=""><i class="fa fa-star"></i> Add to favorite</a>
    </div>
  </div>

  <div class="page__body">
    <div class="holder">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Full info
          </mat-panel-title>
          <mat-panel-description>
            Working hours
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group>
          <mat-tab label="Working hours">
            <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="name">Dessert (100g)</th>
                <th mat-sort-header="calories">Calories</th>
                <th mat-sort-header="fat">Fat (g)</th>
                <th mat-sort-header="carbs">Carbs (g)</th>
                <th mat-sort-header="protein">Protein (g)</th>
              </tr>

              <tr *ngFor="let dessert of sortedData">
                <td>{{dessert.name}}</td>
                <td>{{dessert.calories}}</td>
                <td>{{dessert.fat}}</td>
                <td>{{dessert.carbs}}</td>
                <td>{{dessert.protein}}</td>
              </tr>
            </table>
          </mat-tab>
          <mat-tab label="Map">
            <img src="../../../../assets/images/map.jpg" alt="">
          </mat-tab>
          <mat-tab label="Additional">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus alias, blanditiis incidunt inventore itaque laborum,
            molestias nisi officiis placeat possimus quam qui tenetur voluptates.
            Atque debitis exercitationem magni mollitia repudiandae?
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
      <div class="page__description">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        A aperiam, autem blanditiis delectus dolorem doloremque eos
        ipsa itaque labore maxime nulla numquam quaerat saepe unde
        velit voluptatem voluptatibus. Minus, quisquam.
      </div>
        <div class="gallery">
          <div class="gallery__holder">
            <div class="slide">
              <img src="../../../../assets/images/example.png" alt="">
            </div>
            <div class="slide">
              <img src="../../../../assets/images/example.png" alt="">
            </div>
            <div class="slide">
              <img src="../../../../assets/images/example.png" alt="">
            </div>
            <div class="slide">
              <img src="../../../../assets/images/example.png" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
